@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="uk-margin-large-top uk-text-large">I am sorry but something went wrong...</p>

<div class="uk-margin-medium-top">
    <a class="uk-link-muted" href="/Customer/Index">Let's try again</a>
</div>