@model CustomerService.Api.ViewModels.AddCustomerViewModel
@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="add" method="post">
    <fieldset class="uk-fieldset">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select"></label>
            <input class="uk-input" type="text" name="Name" placeholder="Name">
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select"></label>
            <input class="uk-input" type="text" name="Surname" placeholder="Surname">
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select"></label>
            <input class="uk-input" type="text" name="TelephoneNumber" placeholder="Telephone number">
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select"></label>
            <input class="uk-input" type="text" name="Address" placeholder="Address">
        </div>

        <div class="uk-margin-medium-top">
            <input type="submit" value="Add" class="uk-button uk-button-default" />
        </div>
        <div class="uk-margin-medium-top">
            <a class="uk-link-muted" asp-action="Index">Go back</a>
        </div>
    </fieldset>
</form>