@model CustomerService.Api.ViewModels.CustomersViewModel
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="customersList">
    @await Html.PartialAsync("_CustomersList", Model)
</div>