@{
    ViewData["Title"] = "Page info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-margin-small-top">
    <p>Please visit <a class="uk-link" href="https://github.com/miszczepanik/CustomerService" target="_blank">this link</a> for some code details!</p>    
</div>
<div class="uk-margin-medium-top">
    <p>Application created with <span uk-icon="heart"></span> by <span class="uk-text-bold">Michał Szczepanik</span>.</p>
</div>
<div class="uk-margin-medium-top">
    <a class="uk-link-muted" href="/Customer/Index">Back to customers</a>
</div>