@{
    ViewData["Title"] = "Page info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-margin-large-top">
    <p>Please visit <a class="uk-link" href="https://github.com/miszczepanik/CustomerService">this link</a> for some code details!</p>    
</div>
<div class="uk-margin-medium-top">
    <p>Application created with <span uk-icon="heart"></span> by Michał Szczepanik.</p>
</div>